.box{
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0.3,0,0,0.3);
  width: 900px;
  background-color: #f1f9ff;
  cursor: pointer;
}

.boxCart{
    padding: 20px;
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  width:1550px;
  margin-left: 50px;
  background-color: #f1f9ff;
  cursor: pointer;
}